################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ncrunchproject
bin/
obj/
Debug/
Release/
*.DotSettings
*.ncrunchsolution
packages/
*.suo
*.user
*.log
_ReSharper.*/
Src/MCode.Web/node_modules/
Src/MCode.Web/library/
