################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ncrunchproject
bin/
obj/
Debug/
Release/
*.DotSettings
*.ncrunchsolution
packages/
*.suo
*.user
*.log
_ReSharper.*/
Src/MCode.Web/node_modules/
Src/MCode.Web/library/
Src/MCode.WebUI/node_modules/
Src/MCode.WebUI/wwwroot/lib/
Src/dist/
*.Cache
/MCode.WebUI/node_modules
/MCode.WebUI/wwwroot/lib
Src/MCode.WebUI/typings/
Src/MCode.WebUI/client/
